kafka:
  brokers: "kafka:9092"

importer:
  kafka:
    topic: "zeebe-export"
    reset: true
    aggreation-window-seconds: 2

spring:
  jpa:
    show-sql: false
    properties:
      eclipselink:
        logging:
          level: "INFO"
          parameters: true
          session: true
          thread: true
          timestamp: true
          logger: "hu.dpc.phee.operator.config.EclipselinkLogger"
    open-in-view: false

datasource:
  common:
    protocol: "jdbc"
    subprotocol: "mysql"
    driverclass_name: "com.mysql.cj.jdbc.Driver"
  core:
    port: 3306
    host: "operationsmysql"
    schema: "tenants"
    username: "mifos"
    password: "password"

server:
  port: 8000

application:
  bucket-name: paymenthub-ee-dev

cloud:
  aws:
    enabled: true
    credentials:
      access-key: ${AWS_ACCESS_KEY:AKIAX32JM37TZOJ5AKFB}
      secret-key: ${AWS_SECRET_KEY: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}
    region:
      static: us-east-2

bpmn:
  transfer-type: "TRANSFER"
  transaction-request-type: "TRANSACTION-REQUEST"
  batch-type: "BATCH"
  incoming-direction: "INCOMING"
  outgoing-direction: "OUTGOING"
  processes:
    - id: "binx_hct_inst_credit_transfer_creditor_process"
      direction: "${bpmn.incoming-direction}"
      type: "${bpmn.transfer-type}"
    - id: "PayeeQuoteTransfer"
      direction: "${bpmn.incoming-direction}"
      type: "${bpmn.transfer-type}"
    - id: "PayerTransactionRequest"
      direction: "${bpmn.incoming-direction}"
      type: "${bpmn.transaction-request-type}"
    - id: "PayerFundTransfer"
      direction: "${bpmn.outgoing-direction}"
      type: "${bpmn.transfer-type}"
    - id: "PayeeTransactionRequest"
      direction: "${bpmn.outgoing-direction}"
      type: "${bpmn.transaction-request-type}"
    - id: "transferProcess"
      direction: "UNKNOWN"
      type: "${bpmn.transfer-type}"
    - id: "bulk_processor"
      direction: "UNKNOWN"
      type: "${bpmn.batch-type}"
    - id: "international_remittance_payee_process"
      direction: "${bpmn.outgoing-direction}"
      type: "${bpmn.transfer-type}"
    - id: "international_remittance_payer_process"
      direction: "${bpmn.outgoing-direction}"
      type: "${bpmn.transfer-type}"
    - id: "mpesa_flow"
      direction: "${bpmn.incoming-direction}"
      type: "${bpmn.transaction-request-type}"
    - id: "mpesa_flow_roster"
      direction: "${bpmn.incoming-direction}"
      type: "${bpmn.transaction-request-type}"
    - id: "mpesa_flow-paygops"
      direction: "${bpmn.incoming-direction}"
      type: "${bpmn.transaction-request-type}"
    - id: "slcb"
      direction: "UNKNOWN"
      type: "${bpmn.batch-type}"


