kafka:
  msk: false
  brokers: "localhost:9092"
  consumer-group: ch1
  commit-interval-ms: 1000
  listener:
    concurrency: 3
    poll-timeout-ms: 3000
    max-poll-records: 100

importer:
  kafka:
    topic: "zeebe-export"
    reset: true
    aggreation-window-seconds: 2

spring:
  jpa:
    show-sql: false
    properties:
      eclipselink:
        logging:
          level: "INFO"
          parameters: true
          session: true
          thread: true
          timestamp: true
          logger: "hu.dpc.phee.operator.config.EclipselinkLogger"
    open-in-view: false

datasource:
  common:
    protocol: "jdbc"
    subprotocol: "mysql"
    driverclass_name: "com.mysql.cj.jdbc.Driver"
  core:
    port: 3306
    host: "operationsmysql"
    schema: "tenants"
    username: "mifos"
    password: "password"

server:
  port: 8000

application:
  bucket-name: paymenthub-ee-dev

cloud:
  aws:
    enabled: true
    credentials:
      access-key: ${AWS_ACCESS_KEY:AKIAX32JM37TZOJ5AKFB}
      secret-key: ${AWS_SECRET_KEY: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}
    region:
      static: us-east-2

baasflow:
  events:
    disabled: "true"

management:
  server:
    port: 8080
  endpoint:
    health:
      probes:
        enabled: true
